# Python Data Structure – Python TUPLE – Pack, Unpack, Compare, Slicing, Delete, Key

# What is Tuple Matching in Python?

Tuple Matching is a method of grouping the tuples by matching the second element in the tuples. It is achieved by using a dictionary by checking the second element in each tuple in python programming. However, we can make new tuples by taking portions of existing tuples.

# Tuple Syntax

Tup = ('Jan','feb','march')

To write an empty tuple, you need to write as two parentheses containing nothing-

In [1]:
tup1 = ();

For writing tuple for a single value, you need to include a comma, even though there is a single value. Also at the end you need to write semicolon as shown below.

In [1]:
Tup1 = (50,);

Tuple indices begin at 0, and they can be concatenated, sliced and so on.

# Tuple Assignment

### Packing

The process of assigning values to a tuple is known as packing.

###  1. Create a tuple to give the details of a movie i.e., name, year, director, actor, genre and print the director's name

In [11]:
tup_movie=('Free guy','2021','Shawn Levy','Ryan Reynolds','Sci-fi')
print(tup_movie[2])

Shawn Levy

### 2. Create a tuple which contains a list in it
 ### Create a tuple for the details of a movie i.e., name, year, director, actors, genre where the element 'actors' is a list

In [14]:
tup_movie=('Free guy','2021','Shawn Levy',['Ryan Reynolds','Joe Keery','Pokimone'],'Sci-fi')
print(tup_movie[3])

['Ryan Reynolds', 'Joe Keery', 'Pokimone']

### 3. Create a tuple as an element of a tuple
### Create a tuple for the details of a student including name, reg.no, marks of english, science, social science, maths, second language and average marks

In [18]:
Stud_details=('Reshma',20,(60,73,89,92,57),74.2)
print(Stud_details[2])

(60, 73, 89, 92, 57)

# Unpacking

In packing, we place value into a new tuple while in unpacking we extract those values back into variables.

In [6]:
x = ("Guru99", 20, "Education") # tuple packing
(company, emp, profile) = x # tuple unpacking
print(company)
print(emp)
print(profile)

Guru99
20
Education

###  5. Create a tuple for the details of a student including name, reg.no, marks of english, science, social science, maths, second language and average marks. Also retrive the mark of Science

In [19]:
Stud_details=('Reshma',20,(60,73,89,92,57),74.2)
(name,reg_no,(english,science,social,maths,sec_lang),avg)=Stud_details
print(science)

73

### 6. Create a tuple for getting the number of students for each batch.

In [68]:
(CME,PME,PCM,BCZ)=(50,69,80,73)
print(PCM)

80

 In unpacking of tuple, number of variables on left-hand side should be equal to number of values in given tuple.Sometimes, you don’t want to unpack every single item in a tuple. For example, you may want to unpack the first and second elements. In this case, you can use the * operator.

### 7. Create a tuple to assign the first and last element to the variables x and z respectively and others to variable y

In [37]:
x,*y,z=(20,25,50,36,70,8)
print(y)

[25, 50, 36, 70]

###  8. Do the problem number 5 using * operator

In [38]:
name,re_no,*marks,avg_marks=('Reshma',20,60,73,89,92,57,74.2)
print(marks)

[60, 73, 89, 92, 57]

# Comparing tuples

A comparison operator in Python can work with tuples.

The comparison starts with a first element of each tuple. If they do not compare to =,< or > then it proceed to the second element and so on.

It starts with comparing the first element from each of the tuples

Let's study this with an example-

In [41]:
#case 1 : All elements of a is greater than b

a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [42]:
#case 2: First elements of both a and b are equal, but second element of a is greater than that of b

a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

a is bigger

In [43]:
#case 3 : First element of b is greater than that of a but second element of a is greater than that of b

a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

b is bigger

Case 1: Comparison starts with a first element of each tuple. In this case 5>1, so the output a is bigger.

Case 2: Comparison starts with a first element of each tuple. In this case 5>5 which is inconclusive. So it proceeds to the next element. 6>4, so the output a is bigger

Case 3: Comparison starts with a first element of each tuple. In this case 5>6 which is false. So it goes into the else block and prints "b is bigger."

### 9. Check which tuple is greater and which one is smaller from three given tuples

In [50]:
tup_1=[30,32,50,85]
tup_2=[35,62,45,20]
tup_3=[30,32,50,85]
if (tup_1>tup_2):
    if(tup_1>tup_3):
        print('tup_1 is greater')
elif(tup_2>tup_3):
    print('tup_2 is greater')
else:
    print('tup_3 is greater')

tup_2 is greater

# Using tuples as keys in dictionaries

Since tuples are hashable, and list is not, we must use tuple as the key if we need to create a composite key to use in a dictionary.

Example: We would come across a composite key if we need to create a telephone directory that maps, first-name, last-name, pairs of telephone numbers, etc. Assuming that we have declared the variables as last and first number, we could write a dictionary assignment statement as shown below:

directory[last,first] = number

Dictionary can return the list of tuples by calling items, where each tuple is a key value pair.

In [16]:
a = {'x':100, 'y':200}
b = list(a.items())
print(b)

[('x', 100), ('y', 200)]

### 10. Create a list of tuples with the last four digits of the mobile number of students of a class

In [1]:
mob_no_dic = { 'Rohan': 4351, 'Akash': 1223, 'Catherine': 3100 }
cost_tup = [('notebook',35), ('chocolate', 40), ('marker', 10), ('talcum powder', 50), ('soap', 30)]


    
cost_dict = dict(cost_tup)
print(cost_dict,"\n")

for i in mob_no_dic:
    cost_dict[i] = mob_no_dic[i]
    
print(cost_dict,"\n")

{'notebook': 35, 'chocolate': 40, 'marker': 10, 'talcum powder': 50, 'soap': 30}

{'notebook': 35, 'chocolate': 40, 'marker': 10, 'talcum powder': 50, 'soap': 30, 'Rohan': 4351, 'Akash': 1223, 'Catherine': 3100}

In [2]:
mob_no_dic = { 'Rohan': 4351, 'Akash': 1223, 'Catherine': 3100 }
cost_tup = [('notebook',35), ('chocolate', 40), ('marker', 10), ('talcum powder', 50), ('soap', 30)]


    
cost_dict = dict(cost_tup)
print(cost_dict,"\n")

for i in range(len(mob_no_dic)):
    cost_dict[i] = mob_no_dic[i]
    
print(cost_dict)

{'notebook': 35, 'chocolate': 40, 'marker': 10, 'talcum powder': 50, 'soap': 30}

KeyError: 0

In [2]:
mob_no_dic = { 'Rohan': 4351, 'Akash': 1223, 'Catherine': 3100 }

mob_no_tup = list(mob_no_dic.items())
print(mob_no_tup)

[('Rohan', 4351), ('Akash', 1223), ('Catherine', 3100)]

In Python the dict() method takes a list of tuples as an argument and each tuple store key-value pair element and it returns into a dictionary.

### 11. Create a dictionary of the cost of each items in a supermarket using a list of tuples

In [6]:
cost_tup = [('notebook',35), ('chocolate', 40), ('marker', 10), ('talcum powder', 50), ('soap', 30)]

cost_dic = dict(cost_tup)
print(cost_dic)

{'notebook': 35, 'chocolate': 40, 'marker': 10, 'talcum powder': 50, 'soap': 30}

# Deleting Tuples

Tuples are immutable and cannot be deleted. You cannot delete or remove items from a tuple. But deleting tuple entirely is possible by using the keyword

del

### 12. Remove all the duplicating tuples from the given 3 tuples

In [67]:
tup_1=(3,2,5,1,5)
tup_2=(5,2,3,6,9)
tup_3=(3,2,5,1,5)
remaining=0
if (tup_1==tup_2):
    del tup_2
    remaining=(tup_1,tup_3)
elif(tup_2==tup_3):
    del tup_3
    remaining=(tup_1,tup_2)
elif(tup_1==tup_3):
    del tup_3
    remaining =(tup_1,tup_2)
print(remaining)

((3, 2, 5, 1, 5), (5, 2, 3, 6, 9))

# Advantages of tuple over list

$\bullet$ Iterating through tuple is faster than with list, since tuples are immutable.

$\bullet$ Tuples that consist of immutable elements can be used as key for dictionary, which is not possible with list

$\bullet$ If you have data that is immutable, implementing it as tuple will guarantee that it remains write-protected

Packing and Unpacking of Tuples

$\bullet$ In packing, we place value into a new tuple while in unpacking we extract those values back into variables.

$\bullet$ A comparison operator in Python can work with tuples.


Using tuples as keys in dictionaries

$\bullet$ Tuples are hashable, and list are not

$\bullet$ We must use tuple as the key if we need to create a composite key to use in a dictionary

$\bullet$ Dictionary can return the list of tuples by calling items, where each tuple is a key value pair

Tuples are immutable and cannot be deleted. You cannot delete or remove items from a tuple. But deleting tuple entirely is possible by using the keyword "del"

To fetch specific sets of sub-elements from tuple or list, we use this unique function called slicing

In [1]:
l = eval(input("enter a list:",))
sums = []
for i in range(len(l)):
    sums.append(sum(l[:i+1]))
    
print(sums)

enter a list:[1,2,3,4,5]
[1, 3, 6, 10, 15]

In [2]:
p=[2,9,7,6,5,6,8]
p.reverse()
for c in range(2,6):
    print(p)

[8, 6, 5, 6, 7, 9, 2]
[8, 6, 5, 6, 7, 9, 2]
[8, 6, 5, 6, 7, 9, 2]
[8, 6, 5, 6, 7, 9, 2]

In [4]:
l=[]
while len(l)<10:
    for i in range(1,30):
        if i%2==0:
            l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [3]:
mob_no_dic = { 'Rohan': 4351, 'Akash': 1223, 'Catherine': 3100 }
mob_no_dic.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [4]:
t1=(1,2)
t2=(3,4)
t3=concat(list(t1),list(t2))
t3=tuple(t3)
t3

NameError: name 'concat' is not defined

In [1]:
def removeDuplicates(lst):
    return [t for t in (set(tuple(i) for i in lst))]

# Driver code
lst = [(1, 2), (5, 7), (3, 6), (1, 2)]
print(removeDuplicates(lst))

[(1, 2), (5, 7), (3, 6)]