# Class - 2

1. Write a program that generates a list L of 20 random numbers between 1 and 100.

In [33]:
from random import randint
L = []
for i in range(20):
    L.append(randint(1,100))

In [34]:
L

[57, 1, 23, 21, 75, 38, 96, 89, 33, 96, 75, 65, 64, 66, 85, 18, 71, 53, 58, 24]

2. Replace each element in a list L with its square and cube.

In [35]:
for i in range(len(L)):
    L[i] = L[i]**2

In [50]:
L

[34296447249,
 1,
 148035889,
 85766121,
 177978515625,
 3010936384,
 782757789696,
 496981290961,
 1291467969,
 782757789696,
 177978515625,
 75418890625,
 68719476736,
 82653950016,
 377149515625,
 34012224,
 128100283921,
 22164361129,
 38068692544,
 191102976]

In [51]:
for i in range(len(L)):
    L[i] = L[i]**3
L

[40341068970691068873250369779249,
 1,
 3244150909895248285300369,
 630880792396715529789561,
 5637710113660432398319244384765625,
 27296360116495644500385071104,
 479603335372621236652373132533825536,
 122749609618842355502421774953773681,
 2154025884392726618070214209,
 479603335372621236652373132533825536,
 5637710113660432398319244384765625,
 428983333404378483310699462890625,
 324518553658426726783156020576256,
 564664961438246926567398233604096,
 53646409805556201900516510009765625,
 39346408075296537575424,
 2102085018129621311776010144838961,
 10888439761782913818722623349689,
 55170114352623680311867516125184,
 6979147079584381377970176]

3. Count how many items in a list L are greater than 50.

In [55]:
count = 0
for item in L:
    if item>50:
        count=count+1
count

9

4. Write a program that asks the user to enter a list of integers. Do the following:

(a) Print the total number of items in the list.

(b) Print the fourth item in the list.

(c) Print the last 3 items in the list.

(d) Print everything but first 2 items in the list.

(e) Print the list in reverse order.

(f) Print the largest and smallest item in the list.

(g) Print the sum of items in the list.

(h) Check if the list contains 0. If zero exists in the list,display its position. 

(i) Print the list after sorting the items.

(j) Print the list after deleting the first item from the sorted list.

(k) Print the list after changing the second-to-last item as 98.

(l) Print the list after appending -500 to it.

In [62]:
L = eval(input('Enter a list of at least 5 items: '))
print('(a) Number of items:', len(L))
print('(b) Fourth item:', L[3])
print('(c) Last 3 items:', L[-3:])
print('(d) Everything but first 2 items:', L[2:])
print('(e) Reversed:', L[::-1])
print('(f) Largest:', max(L), '  Smallest:', min(L))
print('(g) Sum:', sum(L))
if 0 in L:
    print('(h) First zero is at:', L.index(0))
else:
    print('(h) No zeroes in the list.')
L.sort()
print('(i) Now sorted:', L)
del L[0]
print('(j) After deleting first item:', L)
L[-2] = 98
print('(k) After changing second-to-last item:', L)
L.append(-500)
print('(l) After appending -500 to list:', L)

Enter a list of at least 5 items: [2,43,32,1,0]
(a) Number of items: 5
(b) Fourth item: 1
(c) Last 3 items: [32, 1, 0]
(d) Everything but first 2 items: [32, 1, 0]
(e) Reversed: [0, 1, 32, 43, 2]
(f) Largest: 43   Smallest: 0
(g) Sum: 78
(h) First zero is at: 4
(i) Now sorted: [0, 1, 2, 32, 43]
(j) After deleting first item: [1, 2, 32, 43]
(k) After changing second-to-last item: [1, 2, 98, 43]
(l) After appending -500 to list: [1, 2, 98, 43, -500]

5. Given a list, find the smallest thing and the first index at which it occurs.

In [70]:
L = eval(input('Enter a list: '))
best = 0
for i in range(len(L)):
    if L[i] < L[best]:
        best = i
print('Smallest item is', L[best], 'first occuring at index', best)

Enter a list: [12,14,55,34,42]
Smallest item is 12 first occuring at index 0

6. Given a list with some items greater than 10, print out smallest thing larger than 10.

In [69]:
L = eval(input('Enter a list with some items greater than 10: '))
smallest = max(L)
for x in L:
    if 10 < x < smallest:
        smallest = x
print('Smallest thing greater than 10:', smallest)

Enter a list with some items greater than 10: [12,14,55,34,42]
Smallest thing greater than 10: 12

7. Given a list, replace evens with zeroes and odds with two ones.

In [68]:
L = eval(input('Enter a list: '))
M = []
for i in range(len(L)):
    if L[i] % 2 == 0:
        M.append(0)
    else:
        M.append(1)
        M.append(1)
L = M
print('Modified list:', L)

Enter a list: [4,9,2,1,3,0]
Modified list: [0, 1, 1, 0, 1, 1, 1, 1, 0]

8. Given a list, print the following:

(a) average, 

(b) smallest three items, 

(c) average after removing the smallest item.

In [67]:
L = eval(input('Enter a list:'))
print('(a) Average:', sum(L)/len(L))
L.sort()
print('(b) Three smallest:', L[:3])
print('(c) Average, dropping smallest:', sum(L[1:])/len(L[1:]))

Enter a list:[4,9,2,1,3,0]
(a) Average: 3.1666666666666665
(b) Three smallest: [0, 1, 2]
(c) Average, dropping smallest: 3.8

9. Given month number, print out the month name.

In [65]:
#a Tedious way

month = eval(input('Enter a month number: '))
if month == 1:
    print('January')
elif month == 2:
    print('February')
elif month == 3:
    print('March')
elif month == 4:
    print('April')
elif month == 5:
    print('May')
elif month == 6:
    print('June')
elif month == 7:
    print('July')
elif month == 8:
    print('August')
elif month == 9:
    print('September')
elif month == 10:
    print('October')
elif month == 11:
    print('November')
elif month == 12:
    print('December')

Enter a month number: 4
April

In [64]:
#b List way
Months = ['January', 'February', 'March', 'April', 'May', 'June',
          'July', 'August', 'September', 'October', 'November', 'December']
month = eval(input('Enter a month number: '))
print(Months[month-1])

Enter a month number: 4
April

10. Create list [1,2,2,3,3,3,4,4,4,4,...,10,10,10,10,10,10,10,10,10,10]

In [63]:
L = []
for i in range(1, 11):
    L += [i]*i
print(L)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

# Class - 3

11. Given two lists, create a list by going element-by-element and taking the larger one from the two lists.

In [71]:
L = eval(input('Enter first list: '))
M = eval(input('Enter second list (same size as first): '))
N = []
for i in range(len(L)):
    if L[i] > M[i]:
        N.append(L[i])
    else:
        N.append(M[i])
print(N)

Enter first list: [1,2,3,4]
Enter second list (same size as first): [0,2,1,9]
[1, 2, 3, 9]

12. Given list, create a list of cumulative sums from it

In [74]:
L = eval(input('Enter a list: '))
Sums = []
for i in range(len(L)):
    Sums.append(sum(L[:i+1]))
print(Sums)

Enter a list: [3,44,2,1,5]
[3, 47, 49, 50, 55]

13. List of triangular numbers any of the series of numbers (1, 3, 6, 10, 15, etc.) obtained by continued summation of the natural numbers.

In [75]:
n = eval(input('How many triangular numbers do you want? '))
L = []
total = 0
for i in range(1,n):
    total += i
    L.append(total)
print(L)

How many triangular numbers do you want? 7
[1, 3, 6, 10, 15, 21]

14. Riffle shuffle two lists - Create a list containing the first two elemnt from the two lists followed by the second two elements from the two lists and so on.

In [84]:
L = eval(input('Enter a list: '))
M = eval(input('Enter another list (same size as first): '))
N = []
for i in range(len(L)):
    N.append(L[i])
    N.append(M[i])
print(N)

Enter a list: [1,5,2,7,4]
Enter another list (same size as first): [4,2,3,1,8]
[1, 4, 5, 2, 2, 3, 7, 1, 4, 8]

15. Rotate items in a list left.

In [83]:
L = eval(input('Enter a list: '))
save = L[0]
for i in range(len(L)-1):
    L[i] = L[i+1]
L[-1] = save
print(L)

Enter a list: [1,4,7,3,9]
[4, 7, 3, 9, 1]

16. Create random list of 0s, 1s, and 2s, then create a new list of indices that repeats occur.

In [82]:
from random import randint

L = []
for i in range(20):
    L.append(randint(0, 2))
print(L)

Repeats = []
for i in range(1, len(L)-1):
    if L[i] == L[i-1]:
        Repeats.append(i)
print(Repeats)

[2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 0, 0, 0, 1, 2, 2, 1, 1, 1, 2]
[2, 3, 4, 5, 8, 11, 12, 15, 17, 18]

17. Given list, create new list containing first 5 items in reverse order and rest as they were.

In [81]:
L = eval(input('Enter a list of at least five items: '))
M = L[:5][::-1] + L[5:]
print(M)

Enter a list of at least five items: [2,5,3,7,1,8,33,65,78,9,4]
[1, 7, 3, 5, 2, 8, 33, 65, 78, 9, 4]

18. Given string of lowercase letters, create a list of how many times each letter occurs.

In [80]:
s = input('Enter a string of lowercase letters: ')
alphabet = 'abcdefghijklmnopqrstuvwxyz'
L = []
for c in alphabet:
    L.append(s.count(c))
print(L)

Enter a string of lowercase letters: malayalam
[4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]

19. Generate 100 random numbers from 1 to 50, then change first two 50s to -999.

In [76]:
from random import randint

L = []
for i in range(100):
    L.append(randint(1, 50))
print(L)

count = 0
for i in range(len(L)):
    if L[i] == 50 and count < 2:
        L[i] = -999
        count += 1
if count == 0:
    print('There were no 50s.')
else:
    print('New list:', L)

[33, 13, 43, 17, 14, 13, 35, 38, 16, 32, 40, 9, 21, 18, 39, 47, 31, 48, 47, 31, 1, 45, 49, 25, 6, 9, 15, 31, 1, 37, 12, 50, 26, 25, 17, 45, 16, 9, 46, 30, 18, 47, 27, 4, 33, 46, 7, 37, 8, 17, 18, 22, 10, 50, 23, 18, 45, 14, 40, 46, 1, 37, 9, 20, 28, 33, 20, 15, 48, 8, 40, 38, 16, 25, 19, 5, 33, 37, 8, 16, 27, 6, 29, 23, 10, 45, 38, 24, 33, 19, 27, 38, 30, 43, 28, 38, 8, 17, 7, 40]
New list: [33, 13, 43, 17, 14, 13, 35, 38, 16, 32, 40, 9, 21, 18, 39, 47, 31, 48, 47, 31, 1, 45, 49, 25, 6, 9, 15, 31, 1, 37, 12, -999, 26, 25, 17, 45, 16, 9, 46, 30, 18, 47, 27, 4, 33, 46, 7, 37, 8, 17, 18, 22, 10, -999, 23, 18, 45, 14, 40, 46, 1, 37, 9, 20, 28, 33, 20, 15, 48, 8, 40, 38, 16, 25, 19, 5, 33, 37, 8, 16, 27, 6, 29, 23, 10, 45, 38, 24, 33, 19, 27, 38, 30, 43, 28, 38, 8, 17, 7, 40]